.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register{
    width: 448px;
    border-radius: 12px;
    padding: 40px 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.register_logo{
    width: 214px;
    object-fit: contain;
}

.register_header{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.register_title{
    color: #051513;
    font-family: 'manrope';
    font-size: 1.5rem;
    line-height: 140%;
    letter-spacing: 0px;
    margin: 0px;
}

.register_desc{
    font-family: 'manrope';
    font-size: 0.875rem;
    line-height: 140%;
    letter-spacing: 0px;
    margin: 0px;
}

.register_footer{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}


@media(prefers-color-scheme: light){
    .register{
        background-color: white;
    }

    .register_title{
        color: #051513;
    }

    .register_desc{
        color: #4C5C59;
    }

    .register_logo{
        content: url('../icons/logo-light-theme.svg');
    }
}

@media(prefers-color-scheme: dark){
    .register{
        background-color: #001f1f;
        border: 1px solid #004241;
    }

    .register_title{
        color: white;
    }

    .register_desc{
        color: #b1b9b9;
    }

    .register_logo{
        content: url('../icons/logo-dark-theme.svg');
    }

    .register_forgot, .register_sign{
        font-family: 'manrope';
        font-size: 0.875rem;
        line-height: 140%;
        letter-spacing: 0px;
        margin: 0px;
        color: #b1b9b9;
    }

    .register_forgot > button, 
    .register_sign > button{
        color: white;
        background-color: transparent;
        border: none;
        font-weight: 700;
        cursor: pointer;
    }    
    
    .register_forgot > button:hover,
    .register_sign > button:hover{
        color: #b1b9b9;
    }

    .register_forgot > button:active,
    .register_sign > button:active{
        color: #8e8e8e;
    }
}

@media(max-width: 500px){
    .register{
        width: 343px;
        padding: 32px 20px;
    }
}