.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register{
    width: 448px;
    border-radius: 12px;
    padding: 40px 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.register_logo{
    width: 214px;
    object-fit: contain;
}

.register_header{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.register_title{
    color: #051513;
    font-family: 'manrope';
    font-size: 1.5rem;
    line-height: 140%;
    letter-spacing: 0px;
    margin: 0px;
}

.register_desc{
    font-family: 'manrope';
    font-size: 0.875rem;
    line-height: 140%;
    letter-spacing: 0px;
    margin: 0px;
}

.register_footer{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.register.light{
    background-color: white;
}

.register_title.light{
    color: #051513;
}

.register_desc.light{
    color: #4C5C59;
}

.register_logo.light{
    content: url('../../Common/icons/logo-light-theme.svg');
}



.register_forgot, .register_sign{
    font-family: 'manrope';
    font-size: 0.875rem;
    line-height: 140%;
    letter-spacing: 0px;
    margin: 0px;
}

.register_forgot > button, 
.register_sign > button{
    background-color: transparent;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.register_forgot > button:focus, 
.register_sign > button:focus{
    outline: none;
}


.register_forgot.light, 
.register_sign.light{
    color: #4C5C59;
}

.register_forgot.light > button, 
.register_sign.light > button{
    color: #051513;
}

.register_forgot.light:hover > button, 
.register_sign.light:hover > button{
    color: #014745;
}

.register_forgot.light:active > button, 
.register_sign.light:active > button{
    color: #017b77;
}


.register.dark{
    background-color: #001f1f;
    border: 1px solid #004241;
}

.register_title.dark{
    color: white;
}

.register_desc.dark{
    color: #b1b9b9;
}

.register_logo.dark{
    content: url('../../Common/icons/logo-dark-theme.svg');
}

.register_forgot.dark, 
.register_sign.dark{
    color: #b1b9b9;
}

.register_forgot.dark > button, 
.register_sign.dark > button{
    color: white;
}    

.register_forgot.dark > button:hover,
.register_sign.dark > button:hover{
    color: #b1b9b9;
}

.register_forgot.dark > button:active,
.register_sign.dark > button:active{
    color: #8e8e8e;
}


@media(max-width: 500px){
    .register{
        width: 343px;
        padding: 32px 20px;
    }
}