.nav_buttons{
    display: flex;
    flex-direction: column;
    gap: 2px;
}


.nav_buttons > button{
    width: 100%;
    height: 42px;
    font-size: 1rem;
    line-height: 140%;
    letter-spacing: 0px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    padding: 12px 8px;
    gap: 8px;
    cursor: pointer;
    border-radius: 6px;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.nav_buttons_icon_home, 
.nav_buttons_icon_archived{
    width: 20px;
    height: 20px;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 20px 20px;
}

.nav_buttons_icon_home{
    mask-image: url('./icons/icon-home.svg')
}

.nav_buttons_icon_archived{
    mask-image: url('./icons/icon-archive.svg');
}


.nav_buttons.light > button{
    color: #4C5C59;
}

.nav_buttons.light > button:hover{
    background-color: #E8F0EF;
}

.nav_buttons.light > button:focus{
    outline-color: var(--focus-light);
}

.nav_buttons.dark > button{
    color: #B1B9B9;
}

.nav_buttons.dark > button:hover{
    background-color: #002E2D;
}

.nav_buttons.dark > button:focus{
    outline-color: var(--focus-dark);
}


.nav_buttons_icon_home.light, .nav_buttons_icon_archived.light{
    background-color: #4C5C59;
}

.selected.selected.light{
    background-color: #E8F0EF;
    color: #051513;
}

.selected.selected.light > img{
    background-color: #051513;
}


.nav_buttons_icon_home.dark, .nav_buttons_icon_archived.dark{
    background-color: #B1B9B9;
}

.selected.selected.dark{
    background-color: #002E2D;
    color: white;
}

.selected.selected.dark > img {
    background-color: white;
}
