.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    width: 448px;
    border-radius: 12px;
    padding: 40px 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.login_logo{
    width: 214px;
    object-fit: contain;
}

.login_header{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.login_title{
    color: #051513;
    font-family: 'manrope';
    font-size: 1.5rem;
    line-height: 140%;
    letter-spacing: 0px;
    margin: 0px;
}

.login_desc{
    font-family: 'manrope';
    font-size: 0.875rem;
    line-height: 140%;
    letter-spacing: 0px;
    margin: 0px;
}

.login_footer{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.login.light{
    background-color: white;
}

.login_title.light{
    color: #051513;
}

.login_desc.light{
    color: #4C5C59;
}

.login_logo.light{
    content: url('../../Common/icons/logo-light-theme.svg');
}


.login.dark{
    background-color: #001f1f;
    border: 1px solid #004241;
}

.login_title.dark{
    color: white;
}

.login_desc.dark{
    color: #b1b9b9;
}

.login_logo.dark{
    content: url('../../Common/icons/logo-dark-theme.svg');
}

.login_forgot.dark, .login_sign.dark{
    font-family: 'manrope';
    font-size: 0.875rem;
    line-height: 140%;
    letter-spacing: 0px;
    margin: 0px;
    color: #b1b9b9;
}

.login_forgot.dark > button, 
.login_sign.dark > button{
    color: white;
    background-color: transparent;
    border: none;
    font-weight: 700;
    cursor: pointer;
}    

.login_forgot.dark > button:hover,
.login_sign.dark > button:hover{
    color: #b1b9b9;
}

.login_forgot.dark > button:active,
.login_sign.dark > button:active{
    color: #8e8e8e;
}

@media(max-width: 500px){
    .login{
        width: 343px;
        padding: 32px 20px;
    }
}