.dropdown_button{
    width: 100%;
    height: 36px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: 'manrope';
    font-size: 0.875rem;
    line-height: 140%;
    letter-spacing: 0px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid transparent;
    border-radius: 6px;
}

.dropdown_button.light{
    color: #4C5C59;
}

.dropdown_button.light:hover{
    border: 1px solid #E8F0EF;
}

.dropdown_button.dark{
    color: #b1b9b9;
}

.dropdown_button.dark:hover{
    border: 1px solid #004241;
}

.dropdown_button.light:focus{
    outline: 2px solid #014745;
    outline-offset: 2px;
    border: 1px solid #E8F0EF;
}

.dropdown_button.dark:focus{
    outline: 2px solid #B1B9B9;
    outline-offset: 2px;
    box-shadow: 0px 0px 6px #001506;
    border: none;
}

.dropdown_button > img{
    width: 16px;
    height: 16px;
    mask-size: 16px 16px;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-image: url('./icons/icon-delete.svg');
}

.dropdown_button.dark > img{
    background-color: #B1B9B9;
}



.dropdown_button.light > img{
    background-color: #4C5C59;
}
