.bookmark_misc{
    width: 100%;
    height: 41px;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.archived{
    font-size: 0.75rem;
    font-family: 'manrope';
    line-height: 140%;
    letter-spacing: 0px;
    padding: 0px 6px;
    border-radius: 6px;
}

.archived.light{
    color: #4C5C59;
    background-color: #DDE9E7;
}

.archived.dark{
    color: #B1B9B9;
    background-color: #002E2D;
}

.bookmark_misc.dark{
    border-top: 1px solid #004241;
}

.bookmark_misc.light{
    border-top: 1px solid #DDE9E7;
}

.group{
    display: flex;
    align-items: center;
    gap: 16px;
}

.bookmark_views, 
.bookmark_created,
.bookmark_calendar{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 0.75rem;
    font-family: 'manrope';
    line-height: 140%;
    letter-spacing: 0px;
}

.bookmark_views > img,
.bookmark_created > img,
.bookmark_calendar > img {
    width: 12px;
    height: 12px;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 12px 12px;
}

.bookmark_views > img{
    mask-image: url('../icons/icon-visit-count.svg');
}


.bookmark_created > img{
    mask-image: url('../icons/icon-created.svg');
}

.bookmark_calendar > img{
    mask-image: url('../icons/icon-last-visited.svg')
}

.bookmark_views.light, 
.bookmark_created.light,
.bookmark_calendar.light{
    color: #4C5C59;
}

.bookmark_views.light > img,
.bookmark_created.light > img,
.bookmark_calendar.light > img{
    background-color: #4C5C59;
}


.bookmark_views.dark, 
.bookmark_created.dark, 
.bookmark_calendar.dark{
    color: #B1B9B9;
}

.bookmark_views.dark > img,
.bookmark_created.dark > img,
.bookmark_calendar.dark > img{
    background-color: #B1B9B9;
};
