.bookmark{
    width: 100%;
    border-radius: 12px;
}

.bookmark > section{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.bookmark_line{
    width: 100%;
    height: 1px;
    margin: 0px;
    padding: 0px;
    border: none;
}

.bookmark_desc{
    margin: 0px;
    font-family: 'manrope';
    font-size: 0.875rem;
    line-height: 150%;
    letter-spacing: 0px;
}




.bookmark.light{
    background-color: white;
}

.bookmark_desc.light{
    color: #4C5C59;
}


.bookmark_line.light{
    background-color: #DDE9E7;
}


.bookmark.dark{
    background-color: #001F1F;
}


.bookmark_line.dark{
    background-color: #004241;
}

.bookmark_desc.dark{
    color: #B1B9B9;
}


@media(max-width: 630px){
    .bookmark{
        grid-column: 1/3;
    }
}