.sort{
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: end;
    width: 107px;
    height: 42px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 1rem;
    font-family: 'manrope';
    font-weight: bold;
    line-height: 140%;
    letter-spacing: 0px;
    border: none;
    cursor: pointer;
    position: relative;
}

.sort > img{
    width: 20px;
    height: 20px;
    mask-image: url('./icons/icon-sort.svg');
    mask-size: 20px 20px;
    mask-position: center;
    mask-size: 20px 20px;
}

.sort.dark{
    background-color: #001F1F;
    border: 1px solid #004746;
    color: white;
}

.sort.dark:hover{
    background-color: rgba(0, 31, 31, 0.7);
}

.sort.dark:active{
    background-color: rgba(0, 31, 31, 0.3)
}

.sort.dark > img{
    background-color: white
}

.sort.light{
    background-color: white;
    border: 1px solid #C0CFCC;
    color: #051513;
}

.sort.light:hover{
    background-color: rgba(255, 255, 255, 0.7);
}

.sort.light:active{
    background-color: rgba(255, 255, 255, 0.3);
}

.sort.light > img{
    background-color: #051513;
}

.dropdown{
    width: 200px;
    height: 132px;
    border-radius: 8px;
    padding: 8px;
    position: absolute;
    top: 50px;
    right: 0px;
    border: 1px solid;
}

.dropdown > button{
    width: 100%;
    height: 36px;
    padding: 0px;
    border: none;
    text-align: left;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.dropdown.dark > button{
    color: #b1b9b9;
} 

.dropdown.dark > button:hover{
    color: #dcdcdc;
}

.dropdown.dark > button:active{
    color: white;
}

.dropdown.light > button{
    color: #4C5C59;
}

.dropdown.light > button:hover{
    color: #2b3835;
}

.dropdown.light > button:active{
    color: #000000;
}

.dropdown.light{
    background-color: white;
    border-color: #E8F0EF;
}

.dropdown.dark{
    background-color: #002E2D;
    border-color: #004241;
}

.checkmark{
    width: 16px;
    height: 16px;
    mask-image: url('./icons/icon-check.svg');
    mask-size: 16px 16px;
    mask-position: center;
    mask-repeat: no-repeat;
}

.checkmark.light{
    background-color: #4C5C59;
}

.checkmark.dark{
    background-color: #b1b9b9;
}

@media(max-width: 1130px){
    .sort{
        grid-column: 2/3;
    }
}