.container{
    width: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.group{
    display: flex;
    align-items: center;
    gap: 8px;
}

.tag_name{
    width: 150px;
    margin: 0px;
    font-family: 'manrope';
    font-size: 1rem;
    line-height: 140%;
    letter-spacing: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis
}

.tag_name.dark{
    color: #b1b9b9;
}

.tag_name.light{
    color: #4C5C59;   
}

.tag_count{
    width: 21px;
    height: 21px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'manrope';
    font-size: 0.75rem;
}

.tag_count.light{
    color: #4C5C59;
    border: 1px solid #DDE9E7;
    background-color: #E8F0EF;
}

.tag_count.dark{
    color: white;
    border: 1px solid #004241;
    background-color: #002E2D;
}
