.container{
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-family: 'manrope';
    font-size: 1rem;
    position: absolute;
    bottom: -200px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: var(--closest);
}

@media(prefers-color-scheme: light){
    .container{
        color: #051513;
        background-color: #E8F0EF;
    }
}

@media(prefers-color-scheme: dark){
    .container{
        color: white;
        background-color: #004241;
    }
}