.header{
    width: 100%;
    height: 78px;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1/2;
}

.header.light{
    background-color: white;
    border-bottom: 1px solid #DDE9E7;
}

.header.dark{
    background-color: #001F1F;
    border-bottom: 1px solid #004241;
}

.header_group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

@media(max-width: 630px){
    .header{
        height: 65px;
        padding: 12px;
    }

    .header_group{
        gap: 10px;
    }
}
