.header{
    width: 100%;
    height: 78px;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header.light{
    background-color: white;
    border-bottom: 1px solid #DDE9E7;
}

.header.dark{
    background-color: #001F1F;
    border-bottom: 1px solid #004241;
}

.header_group{
    display: flex;
    justify-content: center;
    align-items: 16px;
}

.header_menu{
    width: 44px;
    height: 44px;
    border-radius: 8px;
}

