.container{
    width: 1150px;
    height: calc(100vh - 78px);
    padding: 32px;
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(3, 31.3333%);
    align-content: start;
    align-items: start;
    gap: 32px;
}

.title{
    font-family: 'manrope';
    font-size: 1.5rem;
    line-height: 140%;
    letter-spacing: 0px;
    margin: 0px;
    grid-column: 1/4;
    grid-row: 1/2;
    margin-bottom: -12px;
    align-self: center;
}

.title.dark{
    color: white;
}

.title.light{
    color: #051513;
}

@media(max-width: 1450px){
    .container{
        width: 100%;
    }
}

@media(max-width: 1130px){
    .container{
        grid-template-columns: repeat(2, 48.5555%);
    }

    .title{
        grid-column: 1/3;
    }
}

@media(max-width: 930px){
    .container{
        grid-column: 1/2;
    }
}

@media(max-width: 630px){
    .container{
        padding: 24px 16px;
    }

    .title{
        font-size: 1.25rem;
    }
}