.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset{
    width: 448px;
    border-radius: 12px;
    padding: 40px 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.reset_logo{
    width: 214px;
    object-fit: contain;
}

.reset_header{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.reset_title{
    color: #051513;
    font-family: 'manrope';
    font-size: 1.5rem;
    line-height: 140%;
    letter-spacing: 0px;
    margin: 0px;
}

.reset_desc{
    font-family: 'manrope';
    font-size: 0.875rem;
    line-height: 140%;
    letter-spacing: 0px;
    margin: 0px;
}

.reset_footer{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.back{
    background-color: transparent;
    border: none;
    font-family: 'manrope';
    font-size: 0.875rem;
    line-height: 140%;
    cursor: pointer;
}

.back:focus{
    outline: none;
}

.reset_forgot, .reset_sign{
    font-family: 'manrope';
    font-size: 0.875rem;
    line-height: 140%;
    letter-spacing: 0px;
    margin: 0px;
}


.reset.light{
    background-color: white;
}

.reset_title.light{
    color: #051513;
}

.reset_desc.light{
    color: #4C5C59;
}

.reset_logo.light{
    content: url('../../Common/icons/logo-light-theme.svg');
}

.back.light{
    color: #051513;
}


.reset.dark{
    background-color: #001f1f;
    border: 1px solid #004241;
}

.reset_title.dark{
    color: white;
}

.reset_desc.dark{
    color: #b1b9b9;
}

.reset_logo.dark{
    content: url('../../Common/icons/logo-dark-theme.svg');
}

.reset_forgot.dark, .reset_sign.dark{
    color: #b1b9b9;
}

.reset_forgot.dark > button, 
.reset_sign.dark > button{
    color: white;
    background-color: transparent;
    border: none;
    font-weight: 700;
    cursor: pointer;
}    

.reset_forgot.dark > button:hover,
.reset_sign.dark > button:hover{
    color: #b1b9b9;
}

.reset_forgot.dark > button:active,
.reset_sign.dark > button:active{
    color: #8e8e8e;
}

.back.dark{
    color: white;
}

.back.dark:hover{
    color: rgb(182, 182, 182);
}

.back.dark:active{
    color: rgb(119, 119, 119);
}


@media(max-width: 500px){
    .reset{
        width: 343px;
        padding: 32px 20px;
    }
}