.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    border: none;
    padding: 0px;
    margin: 0px;
}

.label{
    font-family: 'manrope';
    font-size: 0.875rem;
    line-height: 130%;
    letter-spacing: 0px;
    font-weight: 500;
}

.password{
    width: 100%;
    height: 60px;
    border-radius: 8px;
    padding: 12px;
}

.password::-ms-reveal,
.password::-ms-clear {
  display: none;
}

.password::-webkit-credentials-auto-fill-button,
.password::-webkit-password-toggle {
  display: none;
}


.errorMessage{
    color: #CB0A04;
    font-family: 'manrope';
    font-size: 0.875rem;
    line-height: 140%;
    letter-spacing: 0px;
    font-weight: 500;
}



.label.light{
    color: #051513;
}

.password.light{
    border: 1px solid #899492;
    background-color: white;
    color: #051513;
}

.password.light:focus{
    outline: 3px solid #004746;
    outline-offset: 2px;
}

.password.light:hover{
    background-color: #E8F0EF;
}


.password.dark{ 
    border: 1px solid #00706E; 
    background-color: #002E2D;
    color: white;
}

.password.dark:focus{
    outline: 1px solid white;
    outline-offset: 2px;
}

.password.dark:hover{
    background-color: #004241;
}

.label.dark{
    color: white;
}
