.nav{
    width: 100%;
    height: 100vh;
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
}


@media(prefers-color-scheme: light){
    .nav{
        background-color: white;
        border-right: 1px solid #DDE9E7;        
    }

    .nav_logo{
        width: 214px;
        height: 32px;
        content: url('../../Common/icons/logo-light-theme.svg')
    }
}

@media(prefers-color-scheme: dark){
    .nav{
        background-color: #001f1f;
        border-right: 1px solid #004241;
    }

    .nav_logo{
        width: 214px;
        height: 32px;
        content: url('../../Common/icons/logo-dark-theme.svg')
    }
}