.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    border: none;
    padding: 0px;
    margin: 0px;
}

.label{
    font-family: 'manrope';
    font-size: 0.875rem;
    line-height: 130%;
    letter-spacing: 0px;
    font-weight: 500;
}

.input{
    width: 100%;
    height: 60px;
    border-radius: 8px;
    padding: 12px;
}


.errorMessage{
    color: #CB0A04;
    font-family: 'manrope';
    font-size: 0.875rem;
    line-height: 140%;
    letter-spacing: 0px;
    font-weight: 500;
}


.label.light{
    color: #051513;
}

.label.light > span{
    color:  #014745; 
}


.input.light{
    border: 1px solid #899492;
    background-color: white;
    color: #051513;
}

.input.light:hover{
    background-color: #E8F0EF;
}


.input.dark{ 
    border: 1px solid #00706E; 
    background-color: #002E2D;
    color: white;
}

.input.dark:hover{
    background-color: #004241;
}
.label.dark{
    color: white;
}

.label.dark > span{
    color: #B1B9B9;   
}

.input.light:focus{
    outline: 1px solid #014745;
    outline-offset: 3px;
}  

.input.dark:focus{
    outline: 1px solid #b1b9b9;
    outline-offset: 3px;
}


