.container{
    position: relative;
}

.checkbox{
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
}

.checkbox:focus{
    outline: none;
}

.checkmark{
    width: 17px;
    height: 17px;
    position: absolute;
    top: 1px;
    pointer-events: none;
}

.checkbox.light{
    border: 1px solid #899492;
}

.checkbox.light:hover{
    background-color: #DDE9E7;
}

.checkbox.dark{
    border: 1px solid #00706E;
}

.checkbox.dark:hover{
    background-color: #002E2D;
}