.account{
    width: 40px;
    height: 40px;
    padding: 0px;
    border-radius: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.account_image{
    width: 40px;
    height: 40px;
    border-radius: 40px;
}
