.bookmark_tags{
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.bookmark_tag{
    max-width: 100px;
    border-radius: 4px;
    padding: 2px 8px;
    margin: 0px;
    font-family: 'manrope';
    font-size: 0.75rem;
    line-height: 150%;
    white-space: nowrap;    
    overflow: hidden;  
    text-overflow: ellipsis;
}


.bookmark_tag.light{
    background-color: #E8F0EF; 
    color: #4C5C59;
}


.bookmark_tag.dark{
    background-color: #002E2D; 
    color: #B1B9B9;
    box-shadow: 0px 2px 2px black;
}
