.tags{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tags_title{
    font-family: 'manrope';
    font-size: 0.75rem;
    font-weight: 800;
    line-height: 140%;
    letter-spacing: 0px;
}

.tags_tag{
    display: flex;
    flex-direction: column;
}

@media(prefers-color-scheme: light){
    .tags_title{
        color: #4D4D4D;
    }
}

@media(prefers-color-scheme: dark){
    .tags_title{
        color: #CCD1D1;
    }
}