.container{
    width: fit-content;
    min-height: 40px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-family: 'manrope';
    font-size: 0.9rem;
    position: absolute;
    bottom: -200px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: var(--closest);
}

.close{
    width: 30px;
    height: 30px;
    padding: 0px;
    font-family: 'manrope';
    font-size: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close > img{
    width: 20px;
    height: 20px;
    mask-image: url('/public/icons/icon-close.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 20px 20px;
}

.close.light > img{
    background-color: #051513;
}

.close.dark > img{
    background-color: white;
}

.container.light{
    color: #051513;
    background-color: white;
}

.close.light{
    color: #051513;
}


.close.light:hover > img{
    background-color: #114640;
}

.close.light:active > img{
    background-color: #19655c;
}


.container.dark{
    color: white;
    background-color: #004241;
}

.close.dark{
    color: white;
}

.close.dark:hover > img{
    background-color: rgb(169, 169, 169);
}

.close.dark:active > img{
    background-color: rgb(117, 117, 117);
}
