.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot{
    width: 448px;
    border-radius: 12px;
    padding: 40px 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.forgot_logo{
    width: 214px;
    object-fit: contain;
}

.forgot_header{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.forgot_title{
    color: #051513;
    font-family: 'manrope';
    font-size: 1.5rem;
    line-height: 140%;
    letter-spacing: 0px;
    margin: 0px;
}

.forgot_desc{
    font-family: 'manrope';
    font-size: 0.875rem;
    line-height: 140%;
    letter-spacing: 0px;
    margin: 0px;
}

.forgot_footer{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.back{
    background-color: transparent;
    border: none;
    font-family: 'manrope';
    font-size: 0.875rem;
    line-height: 140%;
    cursor: pointer;
}


.forgot.light{
    background-color: white;
}

.back.light{
    color: #051513;
}

.back.light:hover{
    color: #0b2b27
}

.back.light:active{
    color: #134d46;
}

.back:focus{
    outline: none;
}

.forgot_title.light{
    color: #051513;
}

.forgot_desc.light{
    color: #4C5C59;
}

.forgot_logo.light{
    content: url('../../Common/icons/logo-light-theme.svg');
}


.forgot.dark{
    background-color: #001f1f;
    border: 1px solid #004241;
}

.forgot_title.dark{
    color: white;
}

.forgot_desc.dark{
    color: #b1b9b9;
}

.forgot_logo.dark{
    content: url('../../Common/icons/logo-dark-theme.svg');
}

.forgot_forgot.dark, .forgot_sign.dark{
    font-family: 'manrope';
    font-size: 0.875rem;
    line-height: 140%;
    letter-spacing: 0px;
    margin: 0px;
    color: #b1b9b9;
}

.forgot_forgot.dark > button, 
.forgot_sign.dark > button{
    color: white;
    background-color: transparent;
    border: none;
    font-weight: 700;
    cursor: pointer;
}    

.forgot_forgot.dark > button:hover,
.forgot_sign.dark > button:hover{
    color: #b1b9b9;
}

.forgot_forgot.dark > button:active,
.forgot_sign.dark > button:active{
    color: #8e8e8e;
}

.back.dark{
    color: white;
}

.back.dark:hover{
    color: rgb(182, 182, 182);
}

.back.dark:active{
    color: rgb(119, 119, 119);
}


@media(max-width: 500px){
    .forgot{
        width: 343px;
        padding: 32px 20px;
    }
}