.container{
    width: 100vw;
    height: 100vh;
    background-color: rgba(19, 19, 19, 0.5);
    position: absolute;
    z-index: var(--closest);
    top: 0px;
    left: 0px;
}

.dialog{
    width: 570px;
    min-height: 673px;
    padding: 32px;
    border-radius: 16px;
    position: absolute;
    inset: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.dialog.light{
    background-color: white;
    border: none;
}

.dialog.dark{
    background-color: #001F1F;
    border: 1px solid #004241;
}