.overlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.dialog{
    width: 450px;
    min-height: 181px;
    border-radius: 12px;
    padding: 24px;
    position: absolute;
    inset: 0;
    margin: auto;
}

.dialog.light{
    background-color: white;
}

.dialog.dark{
    background-color: #001F1F;
}

.dialog_header{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dialog_title{
    font-size: 1.5rem;
    font-family: 'manrope';
    line-height: 140%;
    letter-spacing: 0px;   
}

.dialog_title.light{
    color: #051513;
}

.dialog_title.dark{
    color: white;
}

.dialog_desc{
    font-size: 0.875rem;
    font-family: 'manrope';
    line-height: 150%;
    letter-spacing: 0px;
}

.dialog_desc.light{
    color: #4C5C59;
}

.dialog_desc.dark{
    color: #B1B9B9;
}

.dialog_buttons{
    display: flex;
    gap: 16px;
}

.dialog_cancel{
    width: 90px;
    height: 46px;
    font-size: 1rem;
    line-height: 140%;
    letter-spacing: 0px;
    border-radius: 8px;
    background-color: transparent;
}

.dialog_cancel.light{
    color: #051513;
}

.dialog_cancel.dark{
    color: #C0CFCC;
}

.dialog_submit{
    width: 94px;
    height: 46px;
    font-size: 1rem;
    line-height: 140%;
    letter-spacing: 0px;
    border-radius: 8px;
    color: white;
}

.dialog_submit.light{
    background-color: #014745;
}