.overlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.dialog{
    width: 450px;
    min-height: 100px;
    border-radius: 12px;
    padding: 24px;
    position: absolute;
    inset: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.dialog.light{
    background-color: white;
    border: none;
}

.dialog.dark{
    background-color: #001F1F;
    border: 1px solid #004241;
}

.dialog_header{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dialog_title{
    font-size: 1.5rem;
    font-family: 'manrope';
    line-height: 140%;
    letter-spacing: 0px;   
    margin: 0px;
}

.dialog_title.light{
    color: #051513;
}

.dialog_title.dark{
    color: white;
}

.dialog_desc{
    font-size: 0.875rem;
    font-family: 'manrope';
    line-height: 150%;
    letter-spacing: 0px;
    margin: 0px;
}

.dialog_desc.light{
    color: #4C5C59;
}

.dialog_desc.dark{
    color: #B1B9B9;
}

.dialog_buttons{
    display: flex;
    gap: 16px;
}

.dialog_cancel{
    width: 90px;
    height: 46px;
    font-size: 1rem;
    line-height: 140%;
    letter-spacing: 0px;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
}

.dialog_cancel.light{
    color: #051513;
    border: 1px solid #C0CFCC;
}

.dialog_cancel.light:hover{
    background-color: var(--hover-light-cancel-button);
}

.dialog_cancel.light:active{
    background-color: var(--active-light-cancel-button);
}

.dialog_cancel.dark{
    color: #C0CFCC;
    border: 1px solid #004745;
}

.dialog_cancel.dark:hover{
    background-color: var(--hover-dark-cancel-button);
}

.dialog_cancel.dark:active{
    background-color: var(--active-dark-cancel-button);
}

.dialog_submit{
    height: 46px;
    padding: 0px 16px;
    font-size: 1rem;
    line-height: 140%;
    letter-spacing: 0px;
    border-radius: 8px;
    color: white;
    background-color: #014745;
    border: none;
    cursor: pointer;
}

.dialog_submit.light:hover{
    background-color: var(--hover-green-button);
}

.dialog_submit.dark:hover{
    background-color: var(--active-green-button);
}

@media(max-width: 500px){
    .dialog{
        width: 340px;
    }
}