.header{
    width: 100%;
    height: 78px;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header.dark{
    background-color: #001f1f;
    border-bottom: 1px solid #004241;
}

.header.light{
    background-color: white;
    border-bottom: 1px solid #DDE9E7;
}

.group{
    display: flex;
    align-items: center;
    gap: 16px;
}
