.header{
    width: 100%;
    height: 78px;
    padding: 32px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group{
    display: flex;
    align-items: center;
    gap: 16px;
}

@media(prefers-color-scheme: dark){
    .header{
        background-color: #001f1f;
        border-bottom: 1px solid #004241;
    }
}

@media(preferse-color-scheme: light){
    .header{
        background-color: white;
        border-bottom: 1px solid #DDE9E7;
    }
}