.container{
    position: relative;
}

.search{
    width: 320px;
    height: 45px;
    padding: 12px 12px 12px 42px;
    border-radius: 8px;
    font-family: 'manrope';
    font-size: 0.875rem;
    line-height: 140%;
    letter-spacing: 0px;
}

.search.light{
    color: #051513;
    background-color: white;
    border: 1px solid #DDE9E7;
}

.search.light:hover{
    background-color: #DDE9E7;
}

.search.light::placeholder{
    color: #4C4C59;
}

.search.dark{
    color: white;
    background-color: #002E2D;
    border: 1px solid #004241;
}

.search.dark:hover{
    background-color: #004746;
}

.search.dark::placeholder{
    color: #b1b9b9;
}

.search_icon{
    width: 20px;
    height: 20px;
    mask-image: url('./icons/icon-search.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 20px 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 14px;
    margin: auto;
}


.search_icon.light{
    background-color: #4C5C59;
}

.search_icon.dark{
    background-color: #b1b9b9;
}


.search.light:focus{
    outline: 1px solid #014745;
    outline-offset: 3px;
}  

.search.dark:focus{
    outline: 1px solid #b1b9b9;
    outline-offset: 3px;
}
