.account_logout{
    background-color: transparent;
    border: none;
    font-family: 'manrope';
    font-size: 0.875rem;
    line-height: 140%;
    letter-spacing: 0px;
    cursor: pointer;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.account_logout.light{
    color: #4C5C59;
}

.account_logout.dark{
    color: #b1b9b9;
}

.account_logout_icon{
    width: 16px;
    height: 16px;
    mask-image: url('../icons/icon-logout.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 16px 16px;
}

.account_logout_icon.light{
    background-color: #4C5C59;
}

.account_logout_icon.dark{
    background-color: #b1b9b9;
}