.account{
    width: 248px;
    border-radius: 8px;
    position: absolute;
    top: 70px;
    right: 10px;
}

.account_info{
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 12px 16px;
    column-gap: 12px;
}

.account_info > img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    grid-column: 1/2;
    grid-row: 1/3;
}

.account_info > h2{
    font-family: 'manrope';
    font-size: 0.875rem;        
    line-height: 140%;
    letter-spacing: 0px;
    margin: 0px;
    font-weight: bold;
    justify-self: start;
}

.account_info > p{
    font-family: 'manrope';
    font-weight: medium;
    font-size: 0.875rem;
    line-height: 150%;
    letter-spacing: 0px;
    margin: 0px;
    justify-self: start;
}

.account_line{
    width: 100%;
    height: 1px;
    margin: 0px;
    border: none;
    background-color: #004241;
}

.account_theme{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    gap: 7px;
    font-family: 'manrope';
    font-size: 0.875rem;
    line-height: 140%;
    letter-spacing: 0px;
}

.account_logout{
    background-color: transparent;
    border: none;
    font-family: 'manrope';
    font-size: 0.875rem;
    line-height: 140%;
    letter-spacing: 0px;
    cursor: pointer;
}

.account_logout{
    padding: 12px 16px;
}

.group, .account_logout{
    display: flex;
    align-items: center;
    gap: 8px;
}

.account_theme_icon{
    width: 16px;
    height: 16px;
    mask-image: url('./icons/icon-theme.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 16px 16px;
}

.account_logout_icon{
    width: 16px;
    height: 16px;
    mask-image: url('./icons/icon-logout.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 16px 16px;
}

@media(prefers-color-scheme: light){
    .account {
        background-color: white;
        border: 1px solid #E8F0EF;
    }

    .account_info > h2{
        color: #051513;
    }

    .account_info > p{
        color: #4C5C59;
    }

    .account_theme,  .account_logout{
        color: #4C5C59;
    }

    .account_theme_icon, .account_logout_icon{
        background-color: #4C5C59;
    }
}

@media(prefers-color-scheme: dark){
    .account{
        background-color: #002E2D;
        border: 1px solid #004241;
    }

    .account_info > h2{
        color: white;
    }

    .account_info > p{
        color: #B1B9B9;
    }

    .account_theme,  .account_logout{
        color: #b1b9b9;
    }

    .account_theme_icon, .account_logout_icon{
        background-color: #b1b9b9;
    }
}