.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    border: none;
    padding: 0px;
    margin: 0px;
}

.label{
    font-family: 'manrope';
    font-size: 0.875rem;
    line-height: 130%;
    letter-spacing: 0px;
    font-weight: 500;
}


.input{
    width: 100%;
    height: 60px;
    border-radius: 8px;
    padding: 12px;
}


.input::-ms-reveal,
.input::-ms-clear {
  display: none;
}

.input:-webkit-credentials-auto-fill-button,
.input:-webkit-password-toggle {
  display: none;
}

.errorMessage{
    color: #CB0A04;
    font-family: 'manrope';
    font-size: 0.875rem;
    line-height: 140%;
    letter-spacing: 0px;
    font-weight: 500;
}


@media(prefers-color-scheme: light){
    .label{
        color: #051513;
    }

    .label > span{
        color: #014745;
    }

    .input{
        border: 1px solid #899492;
        background-color: white;
        color: #051513;
    }

    .input:hover{
        background-color: #E8F0EF;
    }
}

@media(prefers-color-scheme: dark){
    .input{ 
        border: 1px solid #00706E; 
        background-color: #002E2D;
        color: white;
    }


    .input:hover{
        background-color: #004241;
    }
    .label{
        color: white;
    }

    .label > span{
        color: #B1B9B9;
    }
}