.bookmark{
    width: 338px;
    height: 272px;
    padding: 16px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.bookmark_header{
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 12px;
    row-gap: 4px;
}

.bookmark_icon{
    width: 44px;
    height: 44px;
    border-radius: 8px;
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: center;
}

.bookmark_title{
    font-family: 'manrope';
    font-size: 1.25rem;
    line-height: 120%;
    letter-spacing: 0px;
    margin: 0px;
    grid-column: 2/3;
    grid-row: 1/2;
}

.bookmark_link{
    font-family: 'manrope';
    font-size: 0.75rem;
    line-height: 140%;
    letter-spacing: 0px;
    grid-column: 2/3;
    grid-row: 2/3;
}

.bookmark_edit{
    width: 32px;
    height: 32px;
    background-color: transparent;
    border-radius: 8px;
    grid-column: 3/4;
    grid-row: 1/3;
}

.bookmark_edit > img{
    width: 20px;
    height: 20px;
    mask-image: url('./icons/icon-menu-bookmark.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 20px 20px;
}


@media(prefers-color-scheme: light){
    .bookmark{
        background-color: white;
    }

    .bookmark_title{
        color: #051513;
    }

    .bookmark_link{
        font-family: 'manrope';
        font-size: 0.75rem;
        line-height: 140%;
        letter-spacing: 0px;
    }

    .bookmark_link{
        color: #4C5C59;
    }

    .bookmark_edit{
        border: 1px solid #C0CFCC;
    }


    .bookmark_edit > img{
        background-color: #051513;
    }

}

@media(prefers-color-scheme: dark){
    .bookmark{
        background-color: #002E2D;
    }

    .bookmark_title{
        color: white;
    }

    .bookmark_link{
        color: #B1B9B9;
    }

    .bookmark_edit{
        border: 1px solid #004241;
    }


    .bookmark_edit > img{
        background-color: white;
    }
}