.bookmark{
    width: 338px;
    padding: 16px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.bookmark_line{
    width: 100%;
    height: 1px;
    margin: 0px;
    padding: 0px;
    border: none;
}

.bookmark_desc{
    margin: 0px;
    font-family: 'manrope';
    font-size: 0.875rem;
    line-height: 150%;
    letter-spacing: 0px;
}




@media(prefers-color-scheme: light){
    .bookmark{
        background-color: white;
    }

    .bookmark_desc{
        color: #4C5C59;
    }

    
    .bookmark_line{
        background-color: #DDE9E7;
    }
}

@media(prefers-color-scheme: dark){
    .bookmark{
        background-color: #001F1F;
    }


    .bookmark_line{
        background-color: #004241;
    }

    .bookmark_desc{
        color: #B1B9B9;
    }
}