.tags{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scrollbar-width: thin;                                   
}

.tags.dark{
    scrollbar-color: transparent #004241;
}

.tags.light{
    scrollbar-color: transparent #DDE9E7;
}

.tags::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
}

.tags.dark::-webkit-scrollbar-thumb{
    background-color: #004241;
    border-radius: 10px;
}

.tags.light::-webkit-scrollbar-thumb{
    background-color: #DDE9E7;
    border-radius: 10px;
}

.tags_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tags_title{
    font-family: 'manrope';
    font-size: 0.75rem;
    font-weight: 800;
    line-height: 140%;
    letter-spacing: 0px;
    margin: 0px;
}

.tags_tag{
    display: flex;
    flex-direction: column;
}

.tags_title.light{
    color: #4D4D4D;
}

.tags_title.dark{
    color: #CCD1D1;
}
