.tags{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tags_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tags_title{
    font-family: 'manrope';
    font-size: 0.75rem;
    font-weight: 800;
    line-height: 140%;
    letter-spacing: 0px;
    margin: 0px;
}

.tags_tag{
    display: flex;
    flex-direction: column;
}

.tags_title.light{
    color: #4D4D4D;
}

.tags_title.dark{
    color: #CCD1D1;
}
