.form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.submit{
    width: 100%;
    height: 46px;
    border-radius: 8px;
    border: none;
    font-family: 'manrope';
    font-size: 1rem;
    line-height: 140%;
    letter-spacing: 0px;
    cursor: pointer;
    color: white;
    background-color: #014745;
}


.submit:hover{
    background-color: #013C3B;
}

.submit:active{
    background-color: #002d2c;
}

.back{
    background-color: transparent;
    border: none;
    font-family: 'manrope';
    font-size: 0.875rem;
    line-height: 140%;
    cursor: pointer;
}


.submit.dark{
    border: 1px solid #00706E;
}

.back.dark{
    color: white;
}

.back.dark:hover{
    color: rgb(182, 182, 182);
}

.back.dark:active{
    color: rgb(119, 119, 119);
}


.back.light{
    color: #051513;
}

.back.light:hover{
    color: #0b2b27
}

.back.light:active{
    color: #134d46;
}
