.bookmark{
    width: 338px;
    height: 272px;
    padding: 16px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.bookmark_header{
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 12px;
    row-gap: 4px;
}

.bookmark_icon{
    width: 44px;
    height: 44px;
    border-radius: 8px;
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: center;
}

.bookmark_title{
    font-family: 'manrope';
    font-size: 1.25rem;
    line-height: 120%;
    letter-spacing: 0px;
    margin: 0px;
    grid-column: 2/3;
    grid-row: 1/2;
}

.bookmark_link{
    font-family: 'manrope';
    font-size: 0.75rem;
    line-height: 140%;
    letter-spacing: 0px;
    grid-column: 2/3;
    grid-row: 2/3;
}

.bookmark_title.light{
    color: #051513;
}

.bookmark_link.light{
    font-family: 'manrope';
    font-size: 0.75rem;
    line-height: 140%;
    letter-spacing: 0px;
}

.bookmark_link.light{
    color: #4C5C59;
}


.bookmark_title.dark{
    color: white;
}

.bookmark_link.dark{
    color: #B1B9B9;
}
