.form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.submit{
    width: 100%;
    height: 46px;
    border-radius: 8px;
    border: none;
    font-family: 'manrope';
    font-size: 1rem;
    line-height: 140%;
    letter-spacing: 0px;
    cursor: pointer;
    color: white;
    background-color: #014745;
    border: 1px solid #00706E;    
}


.submit:hover{
    background-color: #013C3B;
}

.submit:active{
    background-color: #002d2c;
}