body{
    background-color: #B1B9B9;
    width: 100%;
    height: 100vh;
}

* {
    box-sizing: border-box;
    transition: all 0.2s linear;
}

@font-face{
    font-family: 'manrope';
    src: url('../public/Manrope-VariableFont_wght.ttf');
}