body{
    width: 100%;
    height: 100vh;
    margin: 0px;
}

* {
    box-sizing: border-box;
    transition: all 0.2s linear;
}

@font-face{
    font-family: 'manrope';
    src: url('../public/Manrope-VariableFont_wght.ttf');
}

@media(prefers-color-scheme: light){
    body{
        background-color: #B1B9B9;
    }
}

@media(prefers-color-scheme: dark){
    body{
       background-color: #001414; 
    }
}