body{
    width: 100%;
    height: 100vh;
    margin: 0px;
}

* {
    box-sizing: border-box;
    transition: all 0.2s linear, opacity 0s, transform 0s;
}

:root{
    --closest: 100;
    --closer: 75;
    --close: 50;
    --far: 25;
    --farthest: 1;
    --hover-green-button: #003331;
    --active-green-button: #00302f;

    --hover-light-cancel-button: rgb(229, 229, 229);
    --active-light-cancel-button: rgb(220, 220, 220);
    --hover-dark-cancel-button: #002c2c;
    --active-dark-cancel-button: #003131;

}


@font-face{
    font-family: 'manrope';
    src: url('../public/Manrope-VariableFont_wght.ttf');
}

@media(prefers-color-scheme: light){
    input:focus,
    textarea:focus,
    button:focus{
        outline: 1px solid #014745;
        outline-offset: 3px;
    }    
}

@media(prefers-color-scheme: dark){
    input:focus,
    textarea:focus,
    button:focus{
        outline: 1px solid #b1b9b9;
        outline-offset: 3px;
    }
}