body{
    width: 100%;
    height: 100vh;
    margin: 0px;
}

* {
    box-sizing: border-box;
    transition: all 0.2s linear, opacity 0s, transform 0s;
}

:root{
    --closest: 100;
    --closer: 75;
    --close: 50;
    --far: 25;
    --farthest: 1;
}


@font-face{
    font-family: 'manrope';
    src: url('../public/Manrope-VariableFont_wght.ttf');
}

@media(prefers-color-scheme: light){
    body{
        background-color: #B1B9B9;
    }

    input:focus,
    button:focus{
        outline: 1px solid #014745;
        outline-offset: 3px;
    }    
}

@media(prefers-color-scheme: dark){
    body{
       background-color: #001414; 
    }

    input:focus,
    button:focus{
        outline: 1px solid #b1b9b9;
        outline-offset: 3px;
    }
}