.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    border: none;
    padding: 0px;
}

.label{
    font-family: 'manrope';
    font-size: 0.875rem;
    line-height: 130%;
    letter-spacing: 0px;
    font-weight: 500;
}

.input{
    width: 100%;
    height: 60px;
    border-radius: 8px;
    border: 1px solid #899492;
    padding: 12px;
}

.input:focus{
    outline: 3px solid #004746;
    outline-offset: 2px;
}

.input:hover{
    background-color: #E8F0EF;
}

.errorMessage{
    color: #CB0A04;
    font-family: 'manrope';
    font-size: 0.875rem;
    line-height: 140%;
    letter-spacing: 0px;
    font-weight: 500;
}