.form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.errorMessage{
    color: #CB0A04;
    font-family: 'manrope';
    font-size: 0.875rem;
    line-height: 140%;
    letter-spacing: 0px;
    font-weight: 500;
}

.submit{
    width: 100%;
    height: 46px;
    border-radius: 8px;
    border: none;
    font-family: 'manrope';
    font-size: 1rem;
    line-height: 140%;
    letter-spacing: 0px;
    cursor: pointer;
    color: white;
    background-color: #014745;
}


.submit:hover{
    background-color: #013C3B;
}

.submit:active{
    background-color: #002d2c;
}



@media(prefers-color-scheme: dark){
    .submit{
        border: 1px solid #00706E;
    }

}