.button{
    width: 32px;
    height: 32px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    background-color: transparent;
}

.button.dark{
    border: 1px solid #004241;
}

.button.light{
    border: 1px solid #C0CFCC;
}

.button > img{
    width: 20px;
    height: 20px;
    mask-image: url('./icons/icon-menu-bookmark.svg');
    mask-position: center;
    mask-size: 20px 20px;
    mask-repeat: no-repeat;
}

.button.dark > img{
    background-color: white;
}

.button.light > img{
    background-color: #051513;
}

.button.light:hover{
    background-color: var(--hover-light-cancel-button);
}

.button.light:active{
    background-color: var(--active-light-cancel-button);
}

.button.dark:hover{
    background-color: var(--hover-green-button);
}

.button.dark:active{
    background-color: var(--active-green-button);
}

.dropdown{
    width: 200px;
    height: 212px;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35px;
    right: 0px;
    z-index: var(--close);
}

.dropdown.dark{
    background-color: #002E2D;
    border: 1px solid #004241;
}
