

.close{
    width: 32px;
    height: 32px;
    padding: 0px;
    border-radius: 8px;
    background-color: transparent;
    position: absolute;
    top: 32px;
    right: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.close > img{
    width: 20px;
    height: 20px;
    mask-image: url('/public/icons/icon-close.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 20px 20px;
}

.header{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title{
    font-family: 'manrope';
    margin: 0px;
    font-size: 1.5rem;
    line-height: 140%;
    letter-spacing: 0px;
}

.desc{
    font-family: 'manrope';
    margin: 0px;
    font-size: 0.875rem;
    line-height: 150%;
    letter-spacing: 0px;
}




.close.dark{
    border: 1px solid #004241;
}

.close.dark:hover{
    background-color: var(--hover-dark-cancel-button);
}

.close.dark:active{
    background-color: var(--active-dark-cancel-button);
}

.close.dark > img{
    background-color: white;
}

.title.dark{
    color: white;
}

.desc.dark{
    color: #B1B9B9;
}



.close.light{
    border: 1px solid #C0CFCC;
}

.close.light:hover{
    background-color: var(--hover-light-cancel-button);
}

.close.light:active{
    background-color: var(--active-light-cancel-button);
}

.close.light > img{
    background-color: #051513;
}

.title.light{
    color: #051513;
}

.desc.light{
    color: #4C5C59;
}



.dropdown_button{
    width: 100%;
    height: 36px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: 'manrope';
    font-size: 0.875rem;
    line-height: 140%;
    letter-spacing: 0px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid transparent;
    border-radius: 6px;
}

.dropdown_button.light{
    color: #4C5C59;
}

.dropdown_button.light:hover{
    border: 1px solid #E8F0EF;
}

.dropdown_button.dark{
    color: #b1b9b9;
}

.dropdown_button.dark:hover{
    border: 1px solid #004241;
}

.dropdown_button.light:focus{
    outline: 2px solid #014745;
    outline-offset: 2px;
    border: 1px solid #E8F0EF;
}

.dropdown_button.dark:focus{
    outline: 2px solid #B1B9B9;
    outline-offset: 2px;
    box-shadow: 0px 0px 6px #001506;
    border: none;
}

.dropdown_button > img{
    mask-image: url('./icons/icon-edit.svg');
    width: 16px;
    height: 16px;
    mask-size: 16px 16px;
    mask-position: center;
    mask-repeat: no-repeat;
}

.dropdown_button.dark > img{
    background-color: #B1B9B9;
}


.dropdown_button.light > img{
    background-color: #4C5C59;
}

@media(max-width: 630px){
    .close{
        top: 10px;
        right: 10px;
    }

    .title{
        font-size: 1.25rem;
    }
}