.bookmark_pin{
    width: 16px;
    height: 16px;
    mask-image: url('../../icons/icon-pin.svg');
    mask-size: 16px 16px;
    mask-repeat: no-repeat;
    mask-position: center;
}


.bookmark_pin.light{
    background-color: #4C5C59;
}

.bookmark_pin.light:hover{
    background-color: black;
}

.bookmark_pin.dark{
    background-color: #B1B9B9;
};

.bookmark_pin.dark:hover{
    background-color: white;
}
